<footer>
  <div class="footer-list">
    <ul>
      <li class="footer-item"><a href="/about/">About</a></li>
      <li class="footer-item"><a href="/team/">Team</a></li>
      <li class="footer-item"><a href="">Contact</a></li>
      <li class="footer-item footer-copyright"> &copy; 2018 Oh Hey World Inc &#9992; 220 2nd Ave S, # 410, Seattle, WA 98104 &#9992;
        <a href="http://www.horizonapp.co/tou">Terms of Service</a> &#9992;
        <a href="http://www.horizonapp.co/privacy">Privacy Policy</a> &#9992;
      </li>
      <li class="footer-item">Follow Us</li>
      <li class="footer-item"><img src="/assets/redesign/Twitter_White.png"></li>
      <li class="footer-item"><img src="/assets/redesign/Twitter_White.png"></li>
    </ul>
  </div>
</footer>
