<footer class="site-footer">
    <ul class="nav nav--footer desk-show">
      <li class="one-fourth"><a href="/about/">About</a></li>
      <li class="one-fourth"><a href="/team/">Team</a></li>
      <li class="one-fourth"><a href="/jobs/">Jobs</a></li>
      <li class="one-fourth"><a href="/blog/">Blog</a></li>
    </ul>
    <div class="copyright one-whole">
      &copy; 2014 Oh Hey World Inc &#9992; <a href="http://www.horizonapp.co/tou">Terms of Service</a> &#9992; <a href="http://www.horizonapp.co/privacy">Privacy Policy</a>
    </div>
</footer>
{% include mobile-menu.html %}